<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Gia hạn bài đăng</title>
    <content th:replace="fragments/init :: head"></content>
    <style>
        #errorMessage {
            padding: 8px;
            background-color: #ff816b;
        }
        .post-code-title {
            text-transform: uppercase;
            font-size: 18px;
        }
        .post-content-wrapper{
            background: #f5f5f5;
            padding: 5px 15px;
            margin-top:10px;
            margin-bottom: 15px;
        }
        .content-img-wrapper, .post-content-wrapper {
            border-radius: 3px;
        }
        .post-content-tbl tbody > tr >td:first-child{
            color: #919191!important;
            font-size: 15px;
        }
        .post-content-tbl tbody > tr:not(:last-child) >td {
            border-bottom: 1px solid #fff;
        }
        .post-content-tbl tbody > tr >td {
            padding: 7px;
            line-height: 1.5;
        }
        .content-img-wrapper {
            margin-top: 40px;
            border: 1px solid #03aee2;
            padding: 10px 15px;
        }
        .content-img-wrapper > div:not(:first-child) {
            margin-top: 15px;
            background:  #f5f5f5;
            min-height: 170px;
        }
        .content-img-wrapper > div:not(:first-child), .content-img-wrapper > div img {
            border-radius: 5px;
        }
        .content-img-wrapper > div img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .content-img-wrapper > div:nth-child(1),
        .content-img-wrapper > div:nth-child(2){
            margin-top: 0;
        }
        .content-img-title {
            /*margin-top: 35px;*/
            margin-bottom: 0;
        }
    </style>
</head>
<body class="nav-md">
<input type="hidden" id="application-context" th:value="@{/}"/>
<div class="container body">
    <div class="main_container">
        <content th:replace="fragments/menu-bar :: content"></content>
        <div class="top_nav">
            <div class="nav_menu" style="background-color: seagreen">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <div class="nav toggle" style="width: auto;padding-top: 10px">
                        <b id="titlePage" style="font-size: x-large; color: white">Gia hạn bài đăng</b>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <content th:replace="fragments/top-nav :: li_user"></content>
                        <li role="presentation" class="nav-item dropdown"  style="margin-top: 6px">
                            <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1"
                               data-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-bell-o bell-icon"></i>
                            </a>
                            <ul class="dropdown-menu list-unstyled msg_list" role="menu" id = "notify-list"
                                aria-labelledby="navbarDropdown1" x-placement="bottom-start"
                                style="position: absolute; right: 0px; top: 55px;">
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="right_col" role="main" style="min-height: 100vh">
            <div class="row breadcrumb-wrapper">
                <div class="col-md-12 col-sm-12 col-xs-12 breadcrumb-wrapper">
                    <ol class="breadcrumb breadcrumb-custom" style="background-color: #d7e2e4">
                        <li class="breadcrumb-item active">Quản lý</li>
                        <li  sec:authorize="hasAnyAuthority('ROLE_ADMIN','ROLE_PARTNER_ADMIN')" class="breadcrumb-item">
                            <a th:href="@{/owner/list-post}" data-toggle="tooltip" > Danh sách bài đăng  </a>
                        </li>
                        <li class="breadcrumb-item active">Gia hạn</li>
                    </ol>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <form style="margin-left: 5px; padding-bottom: 20px" th:object="${posts}"  th:action="@{/owner/extend}" method="GET" >
                                <div class="row">
                                    <input hidden th:field="*{id}"/>
                                    <div class="col-lg-8 col-xs-12">
                                        <div class = "">
                                            <span class="post-code-title"> Mã bài đăng : </span>
                                            <span th:text="*{postId}" style="font-size: 20px; color: #03aee2;"> </span>
                                        </div>
                                        <div class="block-2-1 post-content-wrapper">
                                            <table class="post-content-tbl">
                                                <tbody>
                                                <tr>
                                                    <td> Địa chỉ:</td>
                                                    <td><span th:text="*{addressRoom}" readonly ></span></td>
                                                </tr>
                                                <tr>
                                                    <td>Kiểu phòng:</td>
                                                    <td> <span th:if="${posts.roomType} == 0 ">Phòng trọ</span>
                                                        <span th:if="${posts.roomType} == 1 ">Chung cư mini</span>
                                                        <span th:if="${posts.roomType} == 2 ">Nhà nguyên căn</span>
                                                        <span th:if="${posts.roomType} == 3 ">Chung cư nguyên căn</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Số lượng phòng:</td>
                                                    <td><span th:text="*{amountRow}" readonly ></span></td>
                                                </tr>
                                                <tr>
                                                    <td>Diện tích:</td>
                                                    <td> <span th:text="*{area}" readonly ></span></td>
                                                </tr>
                                                <tr>
                                                    <td> <span> Giá thuê: </span></td>
                                                    <td><span th:text="*{priceRoom}" readonly ></span></td>
                                                </tr>
                                                <tr>
                                                    <td>Chung chủ: </td>
                                                    <td>
                                                        <span th:if="${posts.withOwner} == 0 ">Không chung chủ</span>
                                                        <span th:if="${posts.withOwner} == 1 ">Chung chủ</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Phòng tắm:</td>
                                                    <td>
                                                        <span th:if="${posts.bathroom} == 0 ">Khép kín</span>
                                                        <span th:if="${posts.bathroom} == 1 ">Chung</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Bếp:</td>
                                                    <td>
                                                        <span th:if="${posts.kitchen} == 0 ">Không có</span>
                                                        <span th:if="${posts.kitchen} == 1 ">Có</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Bình nóng lạnh:</td>
                                                    <td>
                                                        <span th:if="${posts.heater} == 0 ">Không có</span>
                                                        <span th:if="${posts.heater} == 1 ">Có</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Ban công:</td>
                                                    <td>
                                                        <span th:if="${posts.balcony} == 0 ">Không có</span>
                                                        <span th:if="${posts.balcony} == 1 ">Có</span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>Giá nước: </td>
                                                    <td> <span th:text="*{waterPrice}" readonly ></span></td>
                                                </tr>
                                                <tr>
                                                    <td>Giá điện: </td>
                                                    <td><span th:text="*{electricityPrice}" readonly ></span></td>
                                                </tr>
                                                <tr>
                                                    <td>Những địa điểm gần đây:</td>
                                                    <td><span th:name="addressRelated" th:text="*{addressRelated}" readonly ></span></td>
                                                </tr>
                                                <tr>
                                                    <td>Tiện ích khác:</td>
                                                    <td><span th:name="otherUtility" th:text="*{otherUtility}" readonly ></span></td>
                                                </tr>
                                                <tr>
                                                    <td>Gói cước</td>
                                                    <td>
                                                        <div class="position-relative">
                                                            <div th:if = "${duration} == -1">
                                                                <select class="form-control selectpicker" name="duration" th:value="${duration}">
                                                                    <option value="1"> 1 Ngày - 10.000VNĐ </option>
                                                                    <option value="4"> 4 Ngày - 40.000VNĐ </option>
                                                                    <option value="12"> 12 ngày- 100.000VNĐ </option>
                                                                    <option value="20"> 20 ngày - 300.000VNĐ </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-xs-12">
                                        <div class = "">
                                            <div  >
                                                <div class="form-group">
                                                    <div class="content-img-wrapper">
                                                        <div class="content-img-title">
                                                            <label style="display: inline-flex;">Ảnh phòng</label>
                                                        </div>
                                                        <div th:each="item :${path}"  >
                                                            <img th:width="100px" th:src="'http://webdatienloi.com:8765' + ${item}" alt="Chưa có hình ảnh"  />
                                                            <!--                                                        <img  th:width="100px" th:src="'http://localhost:8080' + ${item}" alt="Chưa có hình ảnh"  />-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group pull-left">
                                        <button  sec:authorize="hasAnyAuthority('ROLE_ADMIN')"
                                                 type="submit"  class="btn btn-submit ripple ripple-js" >Cập nhật</button>
                                        <button  th:if = "*{isAccept == 0}"  sec:authorize="hasAnyAuthority('ROLE_OWNER')"
                                                 type="submit"  class="btn btn-submit ripple ripple-js" >Cập nhật</button>
                                        <a href="#" onclick=" window.history.go(-1);" class="btn btn-round btn-cancel-yotel">Hủy bỏ</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <content th:replace="fragments/footer :: content"></content>
</div>
<content th:replace="fragments/init :: script"></content>

<!-- FastClick -->
<script th:src="@{/resources/gentelella-master/vendors/fastclick/lib/fastclick.js}"></script>
<!-- jQuery Tags Input -->
<script th:src="@{/resources/gentelella-master/vendors/jquery.tagsinput/src/jquery.tagsinput.js}"></script>

<script type="text/javascript">
    var applicationContext = $('#application-context').val();
</script>
<script>
    var applicationContext = $('#application-context').val();
    var location_autocomplete;
    $.ajax({
        url: applicationContext + "location-area/list/location",
        type: 'GET',
        headers: {
            accept: 'application/json'
        },
        data: {},
        success: function (result) {
            location_autocomplete =
                autocomplete(document.getElementById("location-name"), result,
                    function (selectedValue) {
                        $('#location-id').val(selectedValue);
                    });
        },
    }).always(function (ketqua) {
    });

    var job_autocomplete;
    $.ajax({
        url: applicationContext + "job/listJob",
        type: 'GET',
        headers: {
            accept: 'application/json'
        },
        data: {},
        success: function (result) {
            job_autocomplete =
                autocomplete(document.getElementById("job-name"), result,
                    function (selectedValue) {
                        $('#job-id').val(selectedValue);
                    });
        },
    }).always(function (ketqua) {
    });

</script>


<script>
    $("#errorMessage").hide().fadeIn(0).delay(3000).fadeOut(500);
</script>

<script>


</script>

</body>

</html>
