<!DOCTYPE html>
<html>
<head lang="en">
    <title>400</title>
    <content th:replace="fragments/init :: head"></content>
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <!-- page content -->
        <div class="col-md-12">
            <div class="col-middle">
                <div class="text-center text-center">
                    <h1 class="error-number">400</h1>
                    <h2 style="color: white">Error handling</h2>
                    <p>There was an error while executing, <a href="javascript:history.back();" class="alert-link"> Trở về trang trước</a>
                    </p>
                </div>
            </div>
        </div>
        <!-- /page content -->
    </div>
</div>
<content th:replace="fragments/init :: script"></content>
</body>
</html>
