<!DOCTYPE html>
<html lang="en">
<head>
	<title>404</title>
	<content th:replace="fragments/init :: head"></content>
</head>

<body class="nav-md">
<div class="container body">
	<div class="main_container">
		<!-- page content -->
		<div class="col-md-12">
			<div class="col-middle">
				<div class="text-center text-center">
					<h1 class="error-number">404</h1>
					<h2 style="color: white">Sorry but we couldn't find this page</h2>
					<p style="color: white">This page you are looking for does not exist, <a href="javascript:history.back();" class="alert-link"> Trở về trang trước</a>
					</p>
				</div>
			</div>
		</div>
		<!-- /page content -->
	</div>
</div>
<content th:replace="fragments/init :: script"></content>
</body>
</html>
