<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Cập nhật tài khoản</title>
    <content th:replace="fragments/init :: head"></content>
    <style>
        #errorMessage {
            padding: 8px;
            background-color: #ff816b;
        }
        .role-content {
            border-radius: 7px;
            padding: 11px 12px;
            border: 1px solid #d4d4d4;
        }
        .role-content .label-role:last-child {
            margin-bottom: 0;
        }
        .label-role span {
            font-size: .8em!important;
            letter-spacing: .1em;
            cursor: pointer;
            background: var(--main-color);
            padding: 2px 5px;
            color: #fff;
            line-height: 1;
            font-weight: 700;
        }
        .label-role input {
            margin-top: 0;
        }
        .label-role {
            display: flex;
            align-items: center;
        }
        .label-role input {
            margin-right: 7px;
        }
        @media(max-width: 767px) {
            .label-role {
                margin-bottom: 7px;
            }
            .label-role input {
                height: unset!important;
            }
            .label-role span {
                font-size: .85em!important;
            }
        }
    </style>
</head>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <content th:replace="fragments/menu-bar :: content"></content>
        <content th:replace="fragments/top-nav :: content"></content>
        <div class="right_col" role="main" style="min-height: 100vh">
            <div class="row breadcrumb-wrapper">
                <div class="col-md-12 col-sm-12 col-xs-12 breadcrumb-wrapper">
                    <ol class="breadcrumb breadcrumb-custom" style="background-color: #d7e2e4">
                        <li class="breadcrumb-item">
                            <a th:href="@{/account/user_list.html}" data-toggle="tooltip" title="Trở Về Danh Sách">Danh sách tài khoản</a>
                        </li>
                        <li class="breadcrumb-item active">Cập nhật</li>
                    </ol>
                </div>
            </div>
            <div class="title-page-custom">
                Cập nhật tài khoản - <span style="color: red" th:text="*{user.userName}"></span>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <form class="updateForm" th:object="${user}"
                                  th:action="@{/account/update/{id}/user_update.html(id=${user.id})}" method="POST">
                                <div class="alert alert-danger" id="errorMessage"
                                     style="text-align:left; color: red; font-weight: bold; font-size: 13px;"
                                     th:each="err: ${#fields.errors('*')}" th:text="${err}"></div>
                                <input type="hidden" name="user_id" id="user_id" th:value="*{id}"/>
                                <div class="col-lg-6 col-xs-12">
                                    <div class="form-group">
                                        <label style="display: inline-flex;">Tên đăng nhập&nbsp;<span style="color: red">&#42;</span></label>
                                        <div>
                                            <input class="form-control" type="text" id="form-field-username" name="userName" th:field="*{userName}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label style="display: inline-flex;">Email&nbsp;<span style="color: red">&#42;</span></label>
                                        <div>
                                            <input class="form-control" type="text" id="form-field-email" name="email" th:field="*{email}"/>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label style="display: inline-flex;">Họ tên&nbsp;<span style="color: red">&#42;</span></label>
                                        <div>
                                            <input class="form-control" type="text" id="form-field-fullname" name="fullName" th:field="*{fullName}"/>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Giới tính</label>
                                        <div>
                                            <select class="form-control selectpicker" id="form-field-gender" th:field="*{gender}">
                                                <option value="0">Nam</option>
                                                <option value="1">Nữ</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-xs-12">

                                    <div class="form-group">
                                        <label>Xác minh tài khoản</label>
                                        <div>
                                            <select class="form-control selectpicker" id="form-field-verify" th:field="*{isVerified}">
                                                <option value="0">Đã xác minh</option>
                                                <option value="1">Chưa xác minh</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Trạng thái</label>
                                        <div>
                                            <select class="form-control selectpicker" id="form-field-status" th:field="*{status}">
                                                <option value="0">Hoạt động</option>
                                                <option value="1">Ngừng hoạt động</option>
                                                <option value="2">Bị khóa</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" hidden="hidden">
                                        <label>Loại tài khoản</label>
                                        <div>
                                            <select class="form-control selectpicker" id="form-field-userType" th:field="*{userType}">
                                                <option value="2">Partner</option>
                                                <option value="1">Org</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!--<div class="form-group">-->
                                        <!--<label>Phân quyền Role</label>-->
                                        <!--<div>-->
                                            <!--<label th:each="role : ${allRoles}" th:title="${role.description}">-->
                                                <!--<input th:field="*{roles}" type="checkbox" th:value="${role.id}" style="position: inherit;opacity: 0.5;" checked/>-->
                                                <!--<span style="color: #0e90d2" class="lbl" th:text="${role.name}"></span>-->
                                            <!--</label>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <div class="form-group">
                                        <label>Phân quyền</label>
                                        <div class="role-content">
                                            <label class="label-role" th:each="role : ${allRoles}" th:title="${role.description}">
                                                <input th:field="*{roles}" type="checkbox" th:value="${role.id}" style="position: inherit;opacity: 0.9;" checked/>
                                                <span class="lbl" th:text="${role.name}"></span>&nbsp;&nbsp;
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group pull-left">
                                        <button type="submit" id="btnSubmit" class="btn btn-submit ripple ripple-js">Cập nhật</button>
                                        <a th:href="@{/account/user_list.html?page={pageIdx}(pageIdx=${session.pageIndex})}" href="/account/user_list" class="btn btn-cancel">Hủy bỏ</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /#page-wrapper -->
    <content th:replace="fragments/footer :: content"></content>
</div>
<!-- /#wrapper -->

<content th:replace="fragments/init :: script"></content>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            defaultDate: new Date(),
            format: 'DD/MM/YYYY HH:mm'
        });
    });
</script>

<script>
    $(document).ready(function () {
        $('.updateForm').bootstrapValidator({
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
                email: {
                    validators: {
                        notEmpty: {
                            message: 'Địa chỉ email không được bỏ trống'
                        },
                        emailAddress: {
                            message: 'Địa chỉ email không đúng định dạng'
                        },
                        stringLength: {
                            min: 0,
                            max: 50,
                            message: 'Địa chỉ email lớn hơn 50 kí tự'
                        }
                    }
                },
                userName: {
                    validators: {
                        notEmpty: {
                            message: 'Tên đăng nhập không được bỏ trống'
                        },
                        stringLength: {
                            min: 0,
                            max: 20,
                            message: 'Tên đăng nhập có độ dài nhỏ hơn 20 kí tự'
                        }
                    }
                },
                fullName:{
                    validators: {
                        notEmpty: {
                            message: 'Tên người dùng không được bỏ trống'
                        }
                    }
                }
            }
        })
    })

</script>

<script type="text/javascript">
    $("#errorMessage").hide().fadeIn(0).delay(3000).fadeOut(700);
</script>

</body>

</html>
