<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Danh sách tài khoản</title>
    <content th:replace="fragments/init :: head"></content>
</head>
<style>
    #email_errors {
        padding: 11px;
        margin-bottom: 0px;
        margin-top: 15px;
    }

    .btn-circle {
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 6px 0;
        font-size: 12px;
        line-height: 1.428571429;
        border-radius: 15px;
    }
</style>
<body class="nav-md">
<div class="container body">
    <div class="main_container">
        <content th:replace="fragments/menu-bar :: content"></content>
        <div class="top_nav">
            <div class="nav_menu" style="background-color: seagreen">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>
                    <div class="nav toggle" style="width: auto;padding-top: 10px">
                        <b id="titlePage" style="font-size: x-large; color: white">Danh sách tài khoản</b>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <content th:replace="fragments/top-nav :: li_user"></content>
                        <li>
                            <a th:href="@{/account/user_list.html}" class="btn btn-action-top-nav"><i class="fa fa-refresh"></i>&nbsp;Refresh</a>
                        </li>
                        <li>
                            <a th:href="@{/account/user_add.html}" class="btn btn-action-top-nav"><i class="fa fa-plus"></i>&nbsp;Thêm Mới</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="right_col" role="main" style="min-height: 100vh">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <input type="hidden" name="user_list_ss" th:value="${user_list_ss}"/>
                            <input type="hidden" th:value="@{/}" id="contentPath">
                            <form role="form" th:object="${userSearchingForm}" th:action="@{/account/user_list.html}"
                                  method="POST">
                                <div class="row">
                                    <div class="col-lg-2 col-sm-6 col-xs-12">
                                        <label>Tên đăng nhập</label>
                                        <div>
                                            <input class="form-control" id="txtUserName" name="userName" type="text" placeholder="Tên đăng nhập" th:value="*{userName}">
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-sm-6 col-xs-12">
                                        <label>Email</label>
                                        <div>
                                            <input class="form-control" id="txtEmail" name="email" type="text" placeholder="Email" th:value="*{email}">
                                        </div>
                                        <span id="email_errors" th:each="err: ${#fields.errors('*')}" th:text="${err}" style="color: red">
                                        </span>
                                    </div>
                                    <div class="col-lg-2 col-xs-6 col-sm-12">
                                        <label>&nbsp;</label>
                                        <div>
                                            <button type="submit" id="btnSearch" class="btn btn-round btn-basic-yotel"><i class="fa fa-search"></i>
                                                Tìm kiếm
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="panel-table-wrapper custom-scroll" style="overflow-x:auto;">
                                <table class="table table-responsive table-striped table-bordered table-hover">
                                    <thead>
                                        <th >Stt</th>
                                        <th >Tên đăng nhập</th>
                                        <th class="td-title-level-1">Tên đầy đủ</th>
                                        <th >Email</th>
                                        <th >Trạng thái<br>tài khoản</th>
                                        <th >Loại <br>tài khoản</th>
                                        <th >Ngày tạo</th>
                                        <th colspan="3">Hành động</th>
                                    </thead>
                                    <tbody th:if="${page.content} != null">
                                    <tr th:each="eachRow, iterStat : ${page.content}">
                                        <td th:text="${iterStat.count}"></td>
                                        <td th:text="${eachRow.userName}"></td>
                                        <td th:text="${eachRow.fullName}"></td>
                                        <td th:text="${eachRow.email}"></td>
                                        <td>
                                            <span th:if="${eachRow.status} == 0" class="btn btn-tv btn-success-tv btn-dot btn-success-dot btn-xs">Hoạt động</span>
                                            <span th:if="${eachRow.status} == 1" class="btn btn-tv btn-warning-tv btn-dot btn-warning-dot btn-xs">Ngừng hoạt động</span>
                                            <span th:if="${eachRow.status} == 2" class="btn btn-tv btn-error-tv btn-dot btn-error-dot btn-xs">Bị khóa</span>
                                        </td>
                                        <td th:text="${user_types.get(eachRow.userType)}"></td>
                                        <td
                                            th:text="${#dates.format(eachRow.createdDate, 'dd/MM/yyyy')}">
                                        </td>
                                        <td class="text-center">
                                            <a th:href="@{/account/update/{id}/user_update.html(id=${eachRow.id})}"
                                               data-toggle="tooltip" title="Chỉnh sửa thông tin">
                                                <button class="btn btn-round btn-basic-yotel btn-sm-yotel">
                                                    <i class="fa fa-edit"></i>
                                                    <span>Edit</span>
                                                </button>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a th:onclick="'deleteConfirm(\'' + ${eachRow.userName} + '\');'"
                                               data-toggle="tooltip" title="Xóa tài khoản">
                                                <button class="btn btn-round btn-basic-yotel btn-sm-yotel">
                                                    <i class="fa fa-trash"></i>
                                                    <span>Delete</span>
                                                </button>
                                            </a>
                                        </td>
                                        <td class="text-center">
                                            <a th:onclick="'resetPasswordConfirm(\'' + ${eachRow.userName} + '\');'"
                                               data-toggle="tooltip" title="Reset mật khẩu">
                                                <button class="btn btn-round btn-basic-yotel btn-sm-yotel">
                                                    <i class="fa fa-refresh"></i>
                                                    <span>Pass</span>
                                                </button>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr th:if="${#lists.isEmpty(page.getContent())}">
                                        <td colspan="11" class="text-center thin-color"
                                            style="font-size: .9em;">--- Danh sách trống ---
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <content th:replace="fragments/panigator :: content(page = ${page})"></content>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row -->
        </div>
    </div>
    <content th:replace="fragments/footer :: content"></content>
</div>
<!-- /#wrapper -->

<content th:replace="fragments/init :: script"></content>

<script th:inline="javascript">
    /*<![CDATA[*/
    var contentPath = $('#contentPath').val();
    /*]]>*/
</script>
<script type="text/javascript">
    function deleteConfirm(key) {
        BootstrapDialog.show({
            title: '<b>XÁC NHẬN XÓA BỎ</b>',
            message: `<span class="thin-color">Bạn chắc chắn muốn</span> <span class="error-text-color">xóa</span> Tài khoản <span class="main-color">${key}</span><span class="thin-color"> không ?</span><br><span class="main-color" style="font-size: .9em;">Bấm OK để xác nhận</span>`,
            buttons: [{
                label: 'CANCEL',
                action: function (dialogItself) {
                    dialogItself.close();
                }
            }, {
                label: 'OK',
                cssClass: 'btn-submit',
                action: function (dialogItself) {
                    window.location.href = contentPath + 'account/delete/' + key + '/user_list.html';
                }
            }]
        });
    }
</script>

<script type="text/javascript">
    function resetPasswordConfirm(key) {
        BootstrapDialog.show({
            title: '<b>XÁC NHẬN THAY ĐỔI</b>',
            message: 'Bạn có chắc chắn muốn thiêt lập lại mật khẩu Tài khoản có userName là ' + key + ' về mật khẩu mặc định không ? Bấm Reset để xách nhận.',
            message: `<span class="thin-color">Bạn có chắc chắn muốn</span> đặt lại mật khẩu cho Tài khoản <span class="main-color">${key}</span><span class="thin-color"> không ?</span><br><span class="main-color" style="font-size: .9em;">Bấm OK để xác nhận</span>`,

            buttons: [{
                label: 'CANCEL',
                action: function (dialogItself) {
                    dialogItself.close();
                }
            }, {
                label: 'OK',
                cssClass: 'btn-submit',
                action: function (dialogItself) {
                    window.location.href = contentPath + 'account/reset/' + key + '/user_list.html';
                }
            }]
        });
    }
</script>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>


<script type="text/javascript">
    $("#email_errors").hide().fadeIn(0).delay(1000).fadeOut(500);
    $("#not_found_message").hide().fadeIn(0).delay(1000).fadeOut(500);
</script>
</body>

</html>
