<content th:fragment="content" th:remove="tag">
    <div class="col-md-3 left_col">
        <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
                <a href="" class="site_title" style="color: seagreen">
                    Motel CMS
                </a>
            </div>
            <div class="clearfix"></div>
            <!--<br/>-->
            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                <div class="menu_section">
                    <ul class="nav side-menu">
                        <li >
                            <a><i class="fa fa-list-ul"></i>Bài đăng<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li>
                                    <a th:href="@{/owner/list-post}">D/s bài đăng</span></a>
                                </li>
                                <li>
                                    <a th:href="@{/owner/show-form}">Tạo bài đăng</span></a>
                                </li>
                                <li>
                                    <a th:href="@{/transaction/list}">D/s yêu cầu</span></a>
                                </li>
                            </ul>
                        </li>
                        <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                            <a><i class="fa fa-user"></i>Quản lý chủ trọ<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li sec:authorize="hasAnyAuthority( 'ROLE_ADMIN')">
                                    <a th:href="@{/owner/list}">Danh sách chủ trọ</a>
                                </li>
                                <li sec:authorize="hasAnyAuthority('ROLE_ADMIN')">
                                    <a th:href="@{/owner/show-form/new-account}">Tạo tk chủ trọ</a>
                                </li>
                            </ul>
                        </li>
                        <li sec:authorize="hasAnyAuthority('ROLE_ADMIN','ROLE_OWNER')">
                            <a><i class="fa fa-user"></i>Quản Lý Tài khoản<span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu">
                                <li sec:authorize="hasAnyAuthority( 'ROLE_ADMIN')">
                                    <a th:href="@{/account/user_list.html}">Danh sách tài khoản</a>
                                </li>
                                <li><a th:href="@{/account/change_password.html}">Đổi mật khẩu</a></li>
                                <li><a th:href="@{/logout.html}">Đăng xuất</a></li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
            <!-- /sidebar menu -->
        </div>
    </div>
</content>